.search input {
    width: 300px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
}

.search button {
    height: 33px;
    margin: 0 5px;
    font-size: 18px;
}